{% extends 'base.html.twig' %}
{% block title %}Inazuma{% endblock %}
{% block body%}
<!-- Principal Content Start-->
 <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          Sobre <span>Nosotros</span>
        </h2>
        <p>
        Somos una empresa seria, nos centramos y nos esforzamos mucho en nuestro trabajo. Queremos mejorar y sacar el potencial
        de los jugadores
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/grupo.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              Somos Inazuma
            </h3>
            <p>
              Llevamos en el mercado del fútbol desde que Inazuma Japón ganó contra The little giants en el Fútbol Frontier Internacional
              o mejor dicho FFI. Desde entonces hemos entrenador a muchas jovenes estrellas como Messi, Cristiano Ronaldo, incluso a Ozora Tsubasa,
              mejor conocido como Oliver Atom. Puedes contratar nuestros servicios para mejorar a tu equipo, fisicamente, emocionalmente e incluso
              estrategicamente.
              Se el proximo en contratarnos.
            </p>
            <p>
            Las pruebas para entrar como bien se ha visto en la página principal, tractan sobre un examen estrategico en una situación de ejemplo, 
            un seleccionador de jugadores ejemplo y la creación de entrenamientos para los jugadores. Si se considera que son buenos se podrá integrar.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->

  
{% endblock %}
