{% extends 'base.html.twig' %}

{% block title %}Inazuma{% endblock %}

{% block body %}

    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      The Little <br>
                      Giants
                    </h1>
                    <p>
                    También conocidos como Los Pequeños Gigantes en los videojuegos, es el equipo nacional de Costail (Congo),
                    participa en el torneo Fútbol Frontier Internacional, en el grupo de Os Reis, Brocken Brigade, Grifos de la Rosa y Los Rojos. Los entrena David Evans, junto con Nelly Raimon (temporalmente, como gerente). 
                    Todos los jugadores tienen un parecido a los jugadores del Raimon. Su capitán es Hector Helio. 
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/little.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Inazuma <br>
                      Japón
                    </h1>
                    <p>
                    Es la selección nacional de Japón y el equipo protagonista en la tercera temporada de la trilogía original de Inazuma Eleven.
                    La mayoría de sus miembros (11 de 18) son miembros del Instituto Raimon o que estuvieron temporalmente en dicho equipo.
                    Consigue ganar el FFI derrotando en la final a The Little Giants, la selección nacional de Costail, convirtiéndose de esa forma en el mejor equipo juvenil del mundo. 
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/japon.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Royal <br>
                      Academy
                    </h1>
                    <p>
                      La Royal saldría como el Instituto al que se enfrentaría Raimon en un amistoso para decidir si el Club de estos permanecía 
                      o era disuelto. El actual capitán de la Royal Jude Sharp se presentaría ante Raimon y su capitán Mark Evans, 
                      antes del encuentro se mencionaría que la Royal solo acepto el encuentro para ver a un posible jugador especial para fichar. 
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/royal.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Nuestros <span>Servicios</span>
          </h2>
          <p>
            Tenemos unos cuantos servicios a tu disposición, estos tres son los mejores.
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/travis.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Entrenador Estrategico
                </h5>
                <p>
                  Percival Travis es un gran estratega a la hora de elegir a los integrantes del equipo, aunque parezca que no tienen sentido.
                  La
                  cuestión, es bueno
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/Hillman.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Seymour Hillman
                </h5>
                <p>
                  Antiguo miembro del Raimon el cuál ahora se ha hecho entrenador. Es una buena opción si quieres entrenar
                  a
                  la antigua forma
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/Kira.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Achilina Schiller
                </h5>
                <p>
                  Si quieres una entrenadora crítica y perfeccionista esta es tu mejor opción. Elegirá a los mejor y sacará
                  el
                  potencial oculto de los jugadores
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="service">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          Sobre <span>Nosotros</span>
        </h2>
        <p>
          Somos una empresa seria, nos centramos y nos esforzamos mucho en nuestro trabajo. Queremos mejorar y sacar el potencial
          de los jugadores
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/falco1.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              Somos Inazuma
            </h3>
            <p>
              Llevamos en el mercado del fútbol desde que Inazuma Japón ganó contra The little giants en el Fútbol Frontier Internacional
              o mejor dicho FFI. Desde entonces hemos entrenador a muchas jovenes estrellas como Messi, Cristiano Ronaldo, incluso a Ozora Tsubasa,
              mejor conocido como Oliver Atom. Puedes contratar nuestros servicios para mejorar a tu equipo, fisicamente, emocionalmente e incluso
              estrategicamente.
              Se el proximo en contratarnos.
            </p>
            <p>
              Estamos orgullosos de nuestro trabajo y siempre intentamos mejorarlo, cualquier persona con un amplio catálogo
              de conocimiento sobre el fútbol puede incorporarse a nosotrs, si pasa nuestras pruebas.
            </p>
            <a href="about">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Porqué <span>Escogernos</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="images/inazumalogo.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Experto Control
            </h5>
            <p>
              Somos unos expertos controlando que nuestros servicios hagan a la perfección sus respectivos trabajos.
              A su vez, ellos se aseguran que los jugadores hagan sus deberes mandados, también de que se enceuntren
              en buen estado.
              Haz en un informe semanal para ver como van avanzando, los problemas que han tenido, cualquier duda generada
              lo escribiran todo al detalle.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/caravana.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Transporte seguro
            </h5>
            <p>
              Prestamos a vuestro servicio siempre que vengan todos los jugadores al partido nuestra caravana.
              Incluye espacio suficientes para todos los jugadores e incluso para las gerentes y los entrenadores,
              varios baños y un conductor de primera.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/david.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Entrenamientos duros
            </h5>
            <p>
              Les avisamos que nuestros entrenamientos son los más duros y complicados de hacer, pero consiguen
              siempre unos resultados impresionantes. Siempre que hemos entrnado a alguien termina mil veces mejor
              que desde llego a nostros. Siempre se trata con cuidado al jugar para que no se lesione entrenando.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="images/julia.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Clientes felices
            </h5>
            <p>
              Nuestros clientes siempre terminan satisfechos y contentos con nuestros servicios.
              En caso de no estarlos, les damos un mes gratuito de entrenamiento para que piensen
              mejor su decisión antes de dejar de contratarnos, si ven que les acaba gustando de nuevo
              les ofrecemos un descuento según el equipo como de bueno sea.
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- team section -->
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Nuestro <span> Equipo</span>
        </h2>
      </div>

      <div class="team_container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="images/Mark_Evans.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Mark Evans
                </h5>
                <p>
                  Portero Capitán
                </p>
              </div>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="images/victor.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Victor Blade
                </h5>
                <p>
                  Delantero Oscuro
                </p>
              </div>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="images/hector.png" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Hector Helio
                </h5>
                <p>
                  Portero Libero
                </p>
              </div>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="images/bai.jpeg" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Bai Long
                </h5>
                <p>
                  Delantero dragón
                </p>
              </div>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <img src="images/balon2.gif" width= "20%"/>
        <h2>
          Animate a jugar con <span>Inazuma Company</span>
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client1.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      LusDen
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client2.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Zen Court
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client1.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      LusDen
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client2.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Zen Court
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->


  <!-- info section -->

  
  <!-- end info section -->

  <!-- footer section -->
  
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>
{% endblock %}
